<template>
  <div :class="$style.div">
    <div :class="$style.background" />
    <div :class="$style.child" />
    <div :class="$style.inner" />
    <div :class="$style.welcomeToYourContainer">
      <p :class="$style.welcomeToYour">
        Welcome to your interview at Tekab-Dev !
      </p>
      <p :class="$style.welcomeToYour">Good luck !</p>
    </div>
    <div :class="$style.chatContainer">
      <div v-for="(message, index) in chatMessages" :key="index"
        :class="[message.fromUser ? $style.userMessage : $style.botMessage]">
        {{ message.text }}
      </div>
    </div>
    <div :class="$style.inputContainer">
      <input v-model="userInput" @keyup.enter="sendMessage" :class="$style.messageInput"
        placeholder="Type your message here" />
      <label :class="$style.fileInputLabel" for="fileInput">
        <img :class="$style.attachment1Icon" alt="" src="/attachment-1.svg" />
      </label>
      <input id="fileInput" type="file" :class="$style.fileInput" @change="handleFileUpload" />
      <div v-for="(info, index) in personalInfo" :key="index">
        <input v-model="info.value" type="text" :placeholder="info.label" />
      </div>
    </div>

  </div>
</template>

<script>


import { HfInference } from "@huggingface/inference";
const HF_ACCESS_TOKEN = "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"
const hf = new HfInference('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')
// await hf.textClassification({
//   model: 'waelChafei/bertuned',
//   inputs: 'name: wael chafei'
// })


import { defineComponent } from "vue";


import axios from "axios";


export default defineComponent({
  name: "Frame",
  data() {
    return {
      chatMessages: [],
      userInput: "",
      personalInfo: []

    };
  },
  methods: {
    async sendMessage() {
      if (!this.userInput.trim()) return;


      this.chatMessages.push({ text: this.userInput, fromUser: true });

      try {
        const messages = this.chatMessages.map(message => ({
          role: message.fromUser ? "user" : "assistant",
          content: message.text
        }));


        const hfResponse = await hf.textClassification({
          model: 'waelChafei/bertuned',
          inputs: this.userInput
        });
        // const hfResponse = await hf.textGeneration({
        //   accessToken: HF_ACCESS_TOKEN,
        //   model: "waelChafei/llama2-interview",
        //   inputs: this.userInput,
        //   parameters: { max_new_tokens: 250 }

        // });
        console.log("hfResponse", hfResponse)

        this.chatMessages.push({ text: hfResponse[0].label, fromUser: false });
      } catch (error) {
        console.error("Error:", error);
      }

      this.userInput = "";
    },
    async handleFileUpload(event) {
      const file = event.target.files[0];
      const chunkSize = 1024 * 1024;

      try {
        const reader = new FileReader();
        let phrases = []
        reader.onload = async () => {
          let offset = 0;
          while (offset < file.size) {
            const chunk = file.slice(offset, offset + chunkSize);
            offset += chunkSize;

            try {
              const response = await this.sendChunkToAPI(chunk);
              const text = response.data;
              const sentences = text.split('\n')
                .filter(sentence => /[a-zA-Z0-9]/.test(sentence)); // Filter out sentences containing only special characters

              // Process each sentence
              for (const sentence of sentences) {
                const hfResponse = await hf.textClassification({
                  model: 'waelChafei/T5tuned',
                  inputs: sentence.trim()
                });
                phrases.push([hfResponse[0].label, sentence.trim()])
                console.log("phrases", phrases);
                // Filter out rows with hfResponse[0].label equal to "PI" or "Obj"
                const filteredResults = phrases
                  .filter(row => row[0] !== "PI" && row[0] !== "Obj")
                  .map(row => row[1]) // Extract the value from each object
                  .join(", "); // Join the values into a single string with comma separation

                console.log("filteredResults", filteredResults);


                const personalInfo = phrases.filter(row => row[0] === "PI").map(info => ({
                  label: info[0], // Store the label ("PI")
                  value: info[1]  // Store the value
                }));
                this.personalInfo = personalInfo; // Update the personalInfo data property


                console.log("personalInfo", personalInfo);
              }
            } catch (error) {
              console.error('Error:', error);
            }
          }
        };

        reader.readAsText(file);
      } catch (error) {
        console.error('Error:', error);
      }
    },




    async sendChunkToAPI(chunk) {
      try {

        const formData = new FormData();
        formData.append('pdfChunk', chunk);


        return await axios.post('http://localhost:3000/upload-pdf-chunk', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });
      } catch (error) {
        console.error('Error:', error);
        throw error;
      }
    }












  },
});
</script>

<style module>
.div {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #121212;
  width: 100%;
  height: 100%;
}

.child {
  position: absolute;
  top: 15%;
  left: 15%;
  background-color: #212121;
  width: 70%;
  height: 70%;
  border-radius: 20px;
}

.inner {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: #272727;

  width: 90%;
  height: 15%;
}

.welcomeToYourContainer {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.welcomeToYour {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

.chatContainer {
  position: absolute;
  top: 50px;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  overflow-y: auto;
  padding: 10px;
  background-color: #333;
}

.userMessage,
.botMessage {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.userMessage {
  background-color: #2962ff;
}

.botMessage {
  background-color: #424242;
}

.inputContainer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.messageInput {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  background-color: #424242;
}

.attachment1Icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.fileInputLabel {
  cursor: pointer;
}

.fileInput {
  display: none;
}
</style>
